name: Terraform Build and Secrets Output (deprecated)

on:
  workflow_dispatch:

jobs:
  terraform:
    name: Terraform actions
    runs-on: ubuntu-latest


    steps:
   
    - name: Checkout code
      uses: actions/checkout@v4

    
    - name: Azure Login
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    
    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v2
      with:
        terraform_version: 1.5.6

    
    - name: Terraform Init
      working-directory: ./scripts 
      run: terraform init -upgrade

    
    - name: Terraform Plan
      working-directory: ./scripts
      run: terraform plan

   
    - name: Terraform Apply
      working-directory: ./scripts
      run: terraform apply -auto-approve

   
    - name: Get Terraform Outputs
      id: outputs
      working-directory: ./scripts
      run: |
        echo "acr_login_url=$(terraform output -raw acr_login_url | grep -v "::debug")" >> $GITHUB_ENV
        echo "acr_username=$(terraform output -raw acr_username | grep -v "::debug")" >> $GITHUB_ENV
        echo "acr_password=$(terraform output -raw acr_password | grep -v "::debug")" >> $GITHUB_ENV
        echo "aks_kubeconfig=$(terraform output -raw aks_kubeconfig | grep -v "::debug")" >> $GITHUB_ENV

    
    - name: Install GitHub CLI
      run: sudo apt-get install gh

   
    - name: Authenticate GitHub CLI
      run: |
        echo "${{ secrets.SECRETS_MODIFY_TOKEN }}" | gh auth login --with-token

    
    - name: Create GitHub Secrets
      run: |
        echo "Creating or updating secrets in GitHub repository"

        gh secret set CONTAINER_REGISTRY -b "${{ env.acr_login_url }}"
        gh secret set REGISTRY_UN -b "${{ env.acr_username }}"
        gh secret set REGISTRY_PW -b "${{ env.acr_password }}"
        gh secret set KUBE_CONFIG -b "${{ env.aks_kubeconfig }}"
